.app-container {
    display: flex;
}

.sidebar {
    width: 15%;
    min-height: 48rem;
}

.content {
    width: 100%;
}
.tags {
    margin: 5px;
}

.post-card {
    width: 45%;
}

.reaction {
    margin: 0px 10px;
    font-size: 17px;
}

.post-form {
    margin: 30px;
    padding: 10px 20px;
}

.form-group{
    margin: 10px 0px;
}

.post-btn {
    width: 20rem;
    font-size: 2rem;
    margin: 10px 0px;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    margin-top: 32px;
    justify-content: center;
}

.spinner {
    margin-top: 50px;
}