.app-container {
    display: flex;
}

.content {
    width: 100%;
}
.tags {
    margin: 5px;
}

.post-card {
    margin: 20px 50px;
    width: 30rem;
}

.reaction {
    margin: 0px 10px;
    font-size: 17px;
}

.post-form {
    margin: 30px;
    padding: 10px 20px;
}

.form-group{
    margin: 10px 0px;
}

.post-btn {
    width: 20rem;
    font-size: 2rem;
    margin: 10px 0px;
}
